<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Add your vaccination records</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >


  </head>

  <body>
    <br>
    <br>

    <div class="container">

      <form action="/vaccination/vaccine/vprocess" method="post">
        <div class="form-group">
          <label for="vaccine">Vaccine</Vaccine>
          <input type="text" id="inputVaccine" name="vaccine" class="form-control" placeholder="Add vaccine here.." required autofocus>
        </div>
        <div class="form-group">
          <label for="date" >Date</label>
          <input type="text" id="inputdate" name="date" class="form-control" placeholder="Add vaccination date here.." required autofocus>
        </div>
        <div class="form-group">
          <label for="next_due" >next due date</label>
          <input type="text" id="inputnextdue" name="next_due" class="form-control" placeholder="Add next due date here.." required autofocus>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit  Your Vaccine</button>
      </form>

    </div> <!-- /container -->

  </body>
</html>
